# Arquivos de compilação
*.exe
*.o
*.out

# Arquivos de configuração locais
.env
config.ini

# Diretórios de dependências
node_modules/
vendor/

# Arquivos de log
*.log

# Arquivos de dados
*.csv

# Máquina Virtual
myenv/
